<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/common.css">
</head>
<body>
    <main>
        <section>
            <form action="/auth/login" method="post" class="auth_form">
                <h2>Login</h2>
                <input type="text" name="Username" id="Username" placeholder="Username"><br>
                <input type="password" name="Password" id="Password" placeholder="Password"><br>
                <button type="submit">Login</button>
            </form>
        </section>
    </main>
</body>
</html>