<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/common.css">
</head>
<body>
    <main>
        <section>
            <form action="/auth/signup" method="post" class="auth_form">
                <h2>Sign Up</h2>
                <input type="text" name="Username" id="Username" placeholder="Username"><br>
                <input type="text" name="Name" id="Name" placeholder="Name"><br>
                <input type="email" name="Email" id="Email" placeholder="Email"><br>
                <input type="password" name="Password" id="Password" placeholder="Password"><br>
                <button type="submit">Sign Up</button>
            </form>
            <a href="/auth/login" style="font-size: small; font-weight: lighter; color: darkgrey; margin: 0px;">Log In</a>
            <% if (Message) { %>
                <h3 style="color:red;"><%= Message %></h3>
            <% } %>
        </section>
    </main>
</body>
</html>